################################################################################
# HKSDEImporter
################################################################################

/.vs
/.local-sde-copy

# Root artifacts
/bin
/obj

# Build artifacts in project folders
**/bin/
**/obj/

# User/local caches
/.dotnet/
/.nuget/
/.templateengine/

# Local database outputs
*.db
*.db-shm
*.db-wal
.example-database-output/eve-sde-fuzzworks.sqlite
